.container {
	display: flex;
	height: 100vh;
}

.friendsSection {
	width: 25%;
	background-color: #f1f1f1;
	padding: 20px;
	border-right: 1px solid #ddd;
}

.friendsSection h2 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.friendsSection .placeholder {
	color: #666;
	font-size: 1.2rem;
}

.chatArea {
	flex: 1;
	padding: 20px;
	background-color: #fff;
}

.chatHeader {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 10px;
}

.conversationArea {
    height: calc(100vh - 120px); /* Adjust the height dynamically */
    padding: 20px;
    border: 1px solid #ccc;
    height: 300px; /* Example height */
    overflow-y: auto; /* Enable scrolling if the content overflows vertically */
    word-wrap: break-word; /* Ensure long words wrap to the next line */
    white-space: pre-wrap; /* Preserve spaces and line breaks */
}

.chatPlaceholder {
	color: #666;
	font-size: 1.2rem;
}

/*Message Input Bar*/
.messageInputBar {
	display: flex;
	align-items: center;
	border-top: 1px solid #ddd;
	padding: 10px;
	background-color: #f9f9f9;
}

.messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 10px;
    resize: none;
}

.sendButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disabledButton {
	background-color: #ccc; /*grey background color*/
	cursor: not-allowed; /*show not allowed*/
}

.attachButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	margin-right: 10px;
}