@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #223344;
}

.shooting-stars-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0; /* Behind all other content */
}

.shooting-star {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  z-index: -5;
  pointer-events: none; /* Prevent interaction */
  /* Enhanced bright, long tail effect */
  box-shadow: 
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}

.shooting-star::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(var(--tail-angle));
	width: 150px;
	height: 2px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), transparent);
	transform-origin: 0 50%; /* Ensure the tail grows towards the correct direction */
}

@keyframes animate {
	0% {
		transform: rotate(315deg) translateX(0);
	}
	70% {opacity: 1;}
	100% {
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}

.shooting-star:nth-child(1) {
	top: 0;
	right: 0;
	left: initial;
	animation-delay: 0;
	animation-duration: 1s;
}

.shooting-star:nth-child(2) {
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}

.shooting-star:nth-child(3) {
	top: 80px;
	right: 0px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}

.shooting-star:nth-child(4) {
	top: 0px;
	right: 180px;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}

.shooting-star:nth-child(5) {
	top: 0px;
	right: 400px;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 2.5s;
}

.shooting-star:nth-child(6) {
	top: 0px;
	right: 600px;
	left: initial;
	animation-delay: 1s;
	animation-duration: 3s;
}

.shooting-star:nth-child(7) {
	top: 300px;
	right: 0px;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 1.75s;
}

.shooting-star:nth-child(8) {
	top: 0px;
	right: 700px;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 1.25s;
}

.shooting-star:nth-child(9) {
	top: 0px;
	right: 1000px;
	left: initial;
	animation-delay: 0.75s;
	animation-duration: 2.25s;
}

.shooting-star:nth-child(10) {
	top: 0px;
	right: 1000px;
	left: initial;
	animation-delay: 2.75s;
	animation-duration: 2.25s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
