@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}

.shooting-star {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  z-index: 0;
  pointer-events: none; /* Prevent interaction */

  /* Enhanced bright, long tail effect */
  box-shadow: 
    -10px 10px 20px rgba(255, 255, 255, 1),        /* Very bright, close to the star */
    -30px 30px 50px rgba(255, 255, 255, 0.8),      /* Still bright, near the star */
    -60px 60px 100px rgba(255, 255, 255, 0.6),     /* Starting to fade but still visible */
    -100px 100px 150px rgba(255, 255, 255, 0.4),   /* Fading more for smooth gradient */
    -140px 140px 200px rgba(255, 255, 255, 0.3),   /* Longer, softer glow */
    -180px 180px 3000px rgba(255, 255, 255, 0.2);   /* Faint end for natural taper */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
